<footer class="footer">
    <article class="footer__list">
        <nav>
            <h2 class="foorter__list--title">Tienda</h2>
            <ul class="footer__list--products1">
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Tienda</a></li>
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Cajoneras</a></li>
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Para todas la casa</a></li>
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Habitaciones</a></li>
            </ul>
        </nav>
    </article>
        
    <article class="footer__list">
        <nav>
            <h2 class="foorter__list--title">Nosotros</h2>
            <ul class="footer__list--products2">
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Nuestra Guia</a></li>
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Nuestro diseñp</a></li>
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Nuestra historia</a></li>
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">Ayuda</a></li>
            </ul>
        </nav>
    </article>
  
    <article class="footer__list">
        <nav>
            <h2 class="foorter__list--title">Contacto</h2>
            <ul class="footer__list--products3">
                <li><a class="footer__link" href="https://www.google.com/intl/es/gmail/about/" target="_blank">ayuda@openspaces.com<a/></li>
                <li><a class="footer__link" href="https://adalab.es/" target="_blank">socios</a></li>
            </ul>
        </nav>
    </article>
  
    <article class="footer__list">
        <nav>
            <ul class="footer__list--icons">
                <a class="footer__link" href="https://es.linkedin.com/" target="_blank"> <i class="fa-brands fa-linkedin-in"></i></a>  
                <a class="footer__link" href="https://www.instagram.com/?hl=es" target="_blank"> <i class="fa-brands fa-instagram"></i></a>  
                <a class="footer__link" href="https://twitter.com/?lang=es" target="_blank"> <i class="fa-brands fa-twitter"></i></a>
            </ul>
        </nav>
    </article>
  
    <a href="#top"> <img class="footer__arrow" src="./assets/images/arrow.png" alt="flecha"></img></a>
  
  </footer>