<main class="main">
    <section class="main__module2">
        <h1 class="main__module2--title">Volverse organizado se siente mejor con OPEN SPACES</h1>
        <article class="main__module2--article">
            <img class="main__module2--icon1" src="./assets/images/icon_1.png" alt="table">
            <h2 class="main__module2--title1"> Lo que necesitas</h2>
            <p class="main__module2--text">Una linea de productos diseñados para todos tus espacios </p>
        </article>
        <article class="main__module2--article">
            <img class="main__module2--icon2" src="./assets/images/icon_2.png" alt="bag">
            <h2 class="main__module2--title2">Materia primas sustentables</h2>
            <p class="main__module2--text">Todos los productos con materias primas sustentables</p>
        </article>
        <article class="main__module2--article">
            <img class="main__module2--icon3" src="./assets/images/icon_3.png" alt="blackboard">
            <h2 class="main__module2--title3">Guia</h2>
            <p class="main__module2--text">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>
    </section>
  
          <section class="main__module3">
              <img class="main__module3--van" src="./assets/images/icon_4.png" alt="van">
              <h2 class="main__module3--title"> Envio gratis garantizado</h2>
              <p class="main__module3-text"> Envio gratis en compras desde 100</p>
              <a class="main__module3--button" href="https://adalab.es/" target="_blank"> Comprar Ahora</a>
          </section>
  
          <section class="main__module4">
              <section class="main__module--part1">
                  <h2 class="main__module4--title">Disfruta creando espacios</h2>
                  <p class="main__module4--text">Una linea de productos diseñados para todos tus espacios</p> 
                <section>
                  <a href="https://adalab.es/" target="_blank">
                  <button class="main__module4--button" name="button">Comprar Ahora</button></a>
                </section>
              </section>
          <section class="main__module--part2">
              <img class="main__module4--image" src="./assets/images/creando-espacios.jpg" alt="toilet paper">
          </section>
          
      </main>