/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --grey-color: #f0ebe5;
  --orange-color: #ff975a;
  --darkblue-color: #0c474b;
  --lightblue-color: #b6c8c9;
  --white-color: #ffffff;
  --font-family: "Poppins", sans-serif;
}

/* -------------------------Header------------------------ */
@import "./layout/header";
/* -------------------------Main------------------------ */
@import "./layout/main";
/* ------------------------Footer----------------------- */
@import "./layout/footer";
