* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --grey-color: #f0ebe5;
  --orange-color: #ff975a;
  --darkblue-color: #0c474b;
  --lightblue-color: #b6c8c9;
  --white-color: #ffffff;
  --font-family: "Poppins", sans-serif;

}

/* -------------------------Header------------------------ */

.header {
  background-image: url(./images/header.jpg);
  background-size: auto;
  height: 100vh;
  min-height: 389px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header__section-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__section-top--burger {
  width: 24px;
  height: 24px;
}

.header__section-top--logo {
  width: 213px;
  height: 96px;
  margin-top: 20px;
}

.header__section-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.header__section-bottom--text {
  width: 414px;
  height: 38px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin: 100px 0 24px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0c474b;
}

.header__section-bottom--button {
  width: 176px;
  height: 48px;
  font-family: Poppins;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 100px 0 24px
  padding: 8px 20px;
  background-color: #0c474b;
}

/* -------------------------Main------------------------ */
/* -------------------------M.Modulo 2------------------------ */
.main__module2 {
  background-color: var(--grey-color);
  padding: 0 50vw;
  display: grid;
  justify-content: center;  
}

.main__module2--title {
  width: 322px;
  height: 113px;
  margin: 0 0 37px;
  padding: 30px 20px;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--darkblue-color);
  font-weight: bold;
}

.main__module2--article {
  display: grid;
  justify-content: center;
 
}
.main__module2--icon1 {
  margin: 37px auto 47px auto;
}
.main__module2--icon2 {
  margin: 36px auto 42px auto;
}
.main__module2--icon3 {
  margin: 31px auto 30px auto;

}
.main__module2--title1,
.main__module2--title2,
.main__module2--title3 {
  width: 208px;
  height: 23px;
  flex-grow: 0;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--darkblue-color);
}

.main__module2--title1 {
  margin-bottom: 14px;
}
.main__module2--title2 {
  margin-bottom: 50px;
}
.main__module2--title3 {
  margin-bottom: 14px;
}

.main__module2--text {
    width: 208px;
    height: 96px;
    flex-grow: 0;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--darkblue-color);
  }  
}

/* -------------------------M.Modulo 3------------------------ */
/* -------------------------M.Modulo 4------------------------ */

/* ------------------------Footer----------------------- */

.footer {
    background-color: var(--darkblue-color);
    color: var(--lightblue-color);
    font-family: var(--font-family);
    
    
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer__arrow{
    width: 24px;
    height: 24px;
    margin-left: 90vw;
    
  
  



}